@model List<Urun>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"></h1>
    <h2>Kategoriler Sayfasına Tıklayınız</h2>

    

    
</div>


















