@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Yeni Urun</title>
</head>
<body>
   
    <form class="form-group" method="post">
        <table>
            <tr>
        <th>
            <label style="margin-top:20px ">Ürün Adı</label>
            <input type="text" class="form-control" name="UrunAd" />
        </th>
        <th>
            <label style="margin-top:20px ">Ürün Fiyatı</label>
            <input type="text" class="form-control" name="UrunFiyat" />
        </th>
        <th>
            <label style="margin-top:20px ">Ürün Görsel </label>
            <input type="text" class="form-control" name="UrunResim" />
        </th>
        <th>
            <label style="margin-top:20px ">Marka Id</label>
            <input type="text" class="form-control" name="MarkaId" />
        </th>
        <th>
            <label style="margin-top:20px ">Kategori Id</label>
            <input type="text" class="form-control" name="KategoriId" />
        </th>




        <th style="margin-top:15px">
            <button class="btn btn-warning">Urun Ekle</button>
        </th>
            </tr>
        </table>
    </form>
   

</body>
</html>
